@model SrceApplicaton.Models.JobTemplates

@{
    ViewBag.Title = "Index";
}

<!--fullcalendar scripts-->
<head>
    <link rel='stylesheet' href='~/Content/fullcalendar.css' />
    <link rel='stylesheet' hrel='~/themes/base/jquery-ui.css' />
    <script src='~/Scripts/jquery-3.1.1.min.js'></script>
    <script src='~/Scripts/moment.min.js'></script>
    <script src='~/Scripts/fullcalendar.js'></script>
    <script type="text/javascript">

        //praćenje trenutne pozicije miša i trenutno kliknutih datuma odnosno evenata.
        var mouseX, mouseY;
        var currentDate;
        var currentEvent;

        @{var user = Session["user"] as SrceApplicaton.Models.Technician;}

        var user = { TechnicianID:@user.TechnicianID,accessLevel:'@user.AccessLevel'};


        function addEvent() {
            var urltoAction = '@Url.Action("Create", "Job")';
            var view = $('#calendar').fullCalendar('getView');
            var viewType;
            if (view.name == 'month') {
                viewType = 'month';
            } else {
                viewType = 'week';
            }
                $.ajax({
                    url: urltoAction,
                    data: {
                        'start': currentDate.format(),
                        'end': currentDate.add(2, 'hour').format(),
                        'view': viewType
                    }
                }).done(function () {
                    $('.add').hide();
                    $('#calendar').fullCalendar('refetchEvents');
                }).fail(function () {
                    alert('Dogodila se greška!')
                });
        }

        function editEvent() {
            var urltoAction = '@Url.Action("Edit", "Job")';
                $.ajax({
                    url: urltoAction,
                    type: 'GET',
                    data: {
                        'id': currentEvent.id
                    },
                    success: function (data) {
                        $('body').html(data);
                    }
                }).fail(function () {
                        alert('Dogodila se greška!')
                    });
        }

        function deleteEvent() {
            var urltoAction = '@Url.Action("Delete", "Job")';
                $.ajax({
                    url: urltoAction,
                    data: {
                        'id': currentEvent.id
                    }
                }).done(function () {
                    $('.edit').hide();
                    $('#calendar').fullCalendar('refetchEvents');
                }).fail(function () {
                        alert('Dogodila se greška!')
                    });
        }

        function resizeEvent(revertFunc) {
            var urltoAction = '@Url.Action("ResizeEvent", "Job")';
            $.ajax({
                url: urltoAction,
                data: {
                    'id': currentEvent.id,
                    'end': currentEvent.end.format()
                }
            }).fail(function () {
                alert('Dogodila se greška!');
                revertFunc(); //Poziv funcije koja vraca event na prošlo stanje
            });
        }

        function dropEvent(revertFunc) {
            var urltoAction = '@Url.Action("DropEvent", "Job")';
            $.ajax({
                url: urltoAction,
                data: {
                    'id': currentEvent.id,
                    'start': currentEvent.start.format(),
                    'end': currentEvent.end.format()
                }
            }).fail(function () {
                alert('Dogodila se greška!');
                revertFunc(); //Poziv funcije koja vraca event na prošlo stanje
		});
		}

            //funkcija koja se poziva pri odabiru prijave posla
            //Poziva se akcija CheckIn u JobControlleru koja
            //dodaje posao u korisnikovu listu prijavljenih poslova.
            function checkIn() {
                var urltoAction = '@Url.Action("CheckIn", "Job")';
                $.ajax({
                    url: urltoAction,
                    data: {
                        'id': currentEvent.id
                    }
                }).done(function () {
                    $('.check-in').hide();
                    $('#calendar').fullCalendar('refetchEvents');
                    }).fail(function () {
                            alert('Dogodila se greška!')
                        });
            }

            //Funkcija koja se poziva pri odabiru odjave posla
            //Poziva se akcija CheckOut u JobControlleru koja briše
            //međusobnu poveznicu korisnika i odabranog posla.
            function checkOut() {
                var urltoAction = '@Url.Action("CheckOut", "Job")';
                    $.ajax({
                        url: urltoAction,
                        data: {
                            'id': currentEvent.id
                        }
                    }).done(function () {
                        $('.check-out').hide();
                        $('#calendar').fullCalendar('refetchEvents');
                    }).fail(function () {
                            alert('Dogodila se greška!')
                        });
            }

        //Prikazivanje dosad dodanih templateova za rekonfiguraciju.
        //Korisnik može odabrati jednu ili stvoriti novu.
            function showTemplates() {
                var urltoAction = '@Url.Action("Index", "Template")';
                $.ajax({
                    url: urltoAction,
                    data: {
                        'id': currentEvent.id
                    },
                    success: function (data) {
                        $('body').html(data)
                    }
                })
            }

        //funkcija koja prikazuje prikladni meni u ovisnosti o trenutnom stanju posla
        //Ako je posao već prijavljen od strane tehničara, prikazuje se opcija odjave i obrnuto.
            function checkJob(calEvent, techEvents) {
                if (calEvent.jobState == 0) {
                    if (!isJobChecked(calEvent, techEvents)) {
                        if ($('.check-in').is(':visible')) {
                            $('.check-in').hide();
                        } else {
                            $('.check-in').css({ 'top': mouseY, 'left': mouseX }).show('slow');
                        }
                    } else {
                        if ($('.check-out').is(':visible')) {
                            $('.check-out').hide();
                        } else {
                            $('.check-out').css({ 'top': mouseY, 'left': mouseX }).show('slow');
                        }
                    }
                }
            }

        // provjera da li je tehničar već odabrao kliknuti posao
            function isJobChecked(calEvent, techEvents) {
                if (techEvents == null) {
                    return false;
                }
                for (i = 0; i < techEvents.length; i++) {
                    if (techEvents[i] == parseInt(calEvent.id)) {
                        return true;
                    }
                }
                return false;
            }

            function assignTechnicians() {
                var urltoAction = '@Url.Action("AssignTechnicians","Job")'
                $.ajax({
                    url: urltoAction,
                    success: function () {
                        $('#calendar').fullCalendar('refetchEvents');
                    }
                }).fail(function () {
                    alert("Dogodila se greška!")
                });
            }

            function createReport() {
                var urltoAction = '@Url.Action("CreateReport","Job")'
                $.ajax({
                    url: urltoAction,
                    success: function (data) {
                        alert(data);
                    }
                }).fail(function () {
                    alert('Dogodila se greška!')
                });
            }


        //praćenje koordinata miša zbog pozicioniranja menia pri kliku
        $(document).mousemove(function (e) {
            mouseX = e.pageX;
            mouseY = e.pageY;
        });


        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: false,
                slotLabelFormat: 'HH:mm',
                timeFormat: 'HH:mm', // time format for 24-hour clock
                prev: 'left-single-arrow',
                next: 'right-single-arrow',
                events: {
                    url: '@Url.Action("GetEvents", "Job")'
                },
                header: {
                    left: 'prev,next,today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                firstDay: 6,
                defaultView: 'agendaWeek',
                editable: true,
                allDaySlot: false,
                selectable: true,
                minTime: "07:00:00",
                maxTime: "22:00:00",
                eventClick: function (calEvent, jsEvent, view) {
                    //Kada korisnik klikne na postojeći event
                    //U ovisnosti u razini pristupa korisnika, prikladne akcije se izvršavaju
                    //kod pritiska na event.
                    currentEvent = calEvent;
                    if (user.accessLevel == 'Employer') {
                        if ($('.add').is(':visible')) {
                            $('.add').hide('slow');
                        }
                        if ($('.edit').is(':visible')) {
                            $('.edit').hide('slow');
                        } else {
                            $('.edit').css({ 'top': mouseY, 'left': mouseX }).show('fast');
                        }
                    } else if (user.accessLevel == "Technician") {
                        var actionURL = '@Url.Action("GetUserEvents", "Job")';
                        $.ajax({
                            url: actionURL,
                            data: {
                                'id': calEvent.id
                            },
                            dataType:'json',
                            success: function (result) {
                                checkJob(calEvent, result);
                            }
                        }).fail(function () {
                                alert("Dogodila se greška");
                            })
                    }
                },
                eventDragStart: function () {
                    if ($('.fc-popover').is(':visible')) {
                        $('.fc-popover').hide(100); //Zatvori popover iznad eventa ukoliko započne premiještanje eventa
                    }
                },

                eventResize: function (event, delta, revertFunc) {
                    currentEvent = event;
                    var dateStart = moment(event.start).format('YYYY/MM/DD');
                    var dateEnd = moment(event.end).format('YYYY/MM/DD');

                    if (dateStart < dateEnd || (event.jobState == 2 && user.accessLevel == "Technician")) { //Ako je resize pređe u drugi dan onda vrati event u početno stanje
                         revertFunc();
                     } else {
                        resizeEvent(revertFunc); //Napravi ajax poziv za izmijenu parametara eventa
                    }
                },

                eventDrop: function (event, delta, revertFunc) {
                    currentEvent = event;
                    if (event.jobState >= 1 && user.accessLevel == "Technician") {
                        revertFunc();
                    } else {
                        dropEvent(revertFunc); //Napravi ajax poziv za izmijenu parametara eventa
                    }
                },

                dayClick: function (date, jsEvent, view) {
                    //Kada korisnik klikne na kalendar (gdje nema eventa)
                    currentDate = date;

                    //U ovisnosti o razini pristupa usera, prikladne akcije se izvršavaju
                    //pri kliku na prazno polje.
                    if (user.accessLevel == 'Employer') {
                        if ($('.edit').is(':visible')) {
                            $('.edit').hide('slow');
                        }
                        if ($('.add').is(':visible')) {
                            $('.add').hide('slow');
                        } else {
                            $('.add').css({ 'top': mouseY, 'left': mouseX }).show('fast');
                        }
                    } else if (user.accessLevel == 'Technician') {
                        if ($('.check-in').is(':visible')) {
                            $('.check-in').hide();
                        }
                        else if ($('.check-out').is(':visible')) {
                            $('.check-out').hide();
                        }
                    }
                },

				//Ukoliko na eventu postoji radnik(title!=null) onda se prikazuje
                //tooltip sa dodatnim biljeskama
                eventMouseover: function (event, jsEvent, view) {
                    if (event.templateInfo != null) {
                        var listTech = event.title != null ? event.title : "-"; //Ukoliko postoji prijavljen tehničar ispiši ga u tootltipu
                        var statusTooltipe = event.jobState == 1 ? "Radi/e: " : "Prijavljeni tehničari: ";
                        var tooltip = '<div class="tooltipevent" style="width:300px;height:200px;background:#ccc;position:absolute;z-index:10001;">' + statusTooltipe
                            + listTech + '</br>Bilješka: ' + event.templateInfo + '</div>';
                        var $tooltip = $(tooltip).appendTo('body');

                        $(this).mouseover(function (e) {
                            $(this).css('z-index', 10000);
                            $tooltip.fadeIn('500');
                            $tooltip.fadeTo('10', 1.9);
                        }).mousemove(function (e) {
                            $tooltip.css('top', e.pageY - 210);
                            $tooltip.css('left', e.pageX - 320);
                        });
                    }
                },

                eventMouseout: function (event, jsEvent, view) {
                    if (event.templateInfo != null) {
                        $(this).css('z-index', 8);
                        $('.tooltipevent').remove();
                    }
                }
            });

        });
    </script>
</head>
<body>
    <!--Ako postoji poruka poslana od akcije nekog kontrolera, ispiši ju.-->
    @if (TempData["message"] != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @TempData["message"]
        </div>
    }

    <!--Dropdown meniji koji se generiraju određenom akcijom miša-->

    <!--z-index stavljen na 10 da se moze obavljati interakcija sa menijem-->
    @{
        if (user.AccessLevel == "Employer")
        {
            <div class="fc-popover add" style="z-index:10;display:none">
                <button class="fc-button" onclick="addEvent()">Dodaj Posao</button>
            </div>
            <div>
                <button class="btn-danger" onclick="assignTechnicians()">Raspodjeli tehničare</button>
            </div>
            <div>
                <button class="btn-danger" onclick="createReport()">Generiraj izvještaj</button>
            </div>
            <div class="fc-popover edit" style="z-index:10;display:none">
                <ul>
                    <li><button class="fc-button" onclick="showTemplates()">Dodaj rekonfiguraciju</button></li>
                    <li><button class="fc-button" onclick="editEvent()">Uredi posao</button></li>
                    <li><button class="fc-button" onclick="deleteEvent()">Izbriši posao</button></li>
                </ul>
            </div>
        }
        else if (user.AccessLevel == "Technician")
        {
            <div class="fc-popover check-in" style="z-index:10;display:none">
                <button class="fc-button" onclick="checkIn()">Prijavi se za Posao</button>
            </div>
            <div class="fc-popover check-out" style="z-index:10;display:none">
                <button class="fc-button" onclick="checkOut()">Odjavi posao</button>
            </div>
        }
    }

    <div id='calendar'></div>


</body>

