@model IEnumerable<SrceApplicaton.Models.Job>

@{
    ViewBag.Title = "Index";
}

<!--fullcalendar scripts-->
<head>
    <link rel='stylesheet' href='~/Content/fullcalendar.css' />
    <link rel='stylesheet' hrel='~/themes/base/jquery-ui.css' />
    <script src='~/Scripts/jquery-3.1.1.min.js'></script>
    <script src='~/Scripts/moment.min.js'></script>
    <script src='~/Scripts/fullcalendar.js'></script>
    <script type="text/javascript">


           //praćenje trenutne pozicije miša i trenutno kliknutih datuma odnosno evenata.
        var mouseX, mouseY;
        var currentDate;
        var currentEvent;

        function addEvent() {
            var urltoAction = '@Url.Action("Create", "Job")';
            var view = $('#calendar').fullCalendar('getView');
            var viewType;
            if (view.name == 'month') {
                viewType = 'month';
            } else {
                viewType = 'week';
            }
                $.ajax({
                    url: urltoAction,
                    data: {
                        'start': currentDate.format(),
                        'end': currentDate.add(2, 'hour').format(),
                        'view': viewType
                    }
                }).done(function () {
                    $('.add').hide();
                    $('#calendar').fullCalendar('refetchEvents');
                }).fail(function () {
                    alert('Dogodila se greška!')
                });
        }

        function editEvent() {
            var urltoAction = '@Url.Action("Edit", "Job")';
                $.ajax({
                    url: urltoAction,
                    data: {
                        'id': currentEvent.id
                    }
                }).fail(function () {
                        alert('Dogodila se greška!')
                    });
        }

        function deleteEvent() {
            var urltoAction = '@Url.Action("Delete", "Job")';
                $.ajax({
                    url: urltoAction,
                    data: {
                        'id': currentEvent.id
                    }
                }).done(function () {
                    $('.edit').hide();
                    $('#calendar').fullCalendar('refetchEvents');
                }).fail(function () {
                        alert('Dogodila se greška!')
                    });
        }

        function resizeEvent(revertFunc) {
            var urltoAction = '@Url.Action("ResizeEvent", "Job")';
            $.ajax({
                url: urltoAction,
                data: {
                    'id': currentEvent.id,
                    'end': currentEvent.end.format()
                }
            }).fail(function () {
                alert('Dogodila se greška!');
                revertFunc(); //Poziv funcije koja vraca event na prošlo stanje
            });
        }

        function dropEvent(revertFunc) {
            var urltoAction = '@Url.Action("DropEvent", "Job")';
            $.ajax({
                url: urltoAction,
                data: {
                    'id': currentEvent.id,
                    'start': currentEvent.start.format(),
                    'end': currentEvent.end.format()
                }
            }).fail(function () {
                alert('Dogodila se greška!');
                revertFunc(); //Poziv funcije koja vraca event na prošlo stanje
            });
        }

        //praćenje koordinata miša zbog pozicioniranja menia pri kliku
        $(document).mousemove(function (e) {
            mouseX = e.pageX;
            mouseY = e.pageY;
        });

        
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: false,
                slotLabelFormat: 'H(:mm)',
                timeFormat: 'H(:mm)', // time format for 24-hour clock
                prev: 'left-single-arrow',
                next: 'right-single-arrow',
                events: {
                    url: '@Url.Action("GetEvents", "Job")'
                },
                header: {
                    left: 'prev,next,today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                firstDay: 6,
                businessHours: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [1, 2, 3, 4, 5], // Monday - Friday

                    start: '08:00', // a start time (8am in this example)
                    end: '18:00', // an end time (6pm in this example)
                },
                defaultView: 'agendaWeek',
                editable: true,
                allDaySlot: false,
                selectable: true,
                eventClick: function (calEvent, jsEvent, view) {
                    //Kada korisnik klikne na postojeći event
                    //...
                    currentEvent = calEvent;
                    if ($('.add').is(':visible')) {
                        $('.add').hide('slow');
                    }
                    if ($('.edit').is(':visible')) {
                        $('.edit').hide('slow');
                    } else {
                        $('.edit').css({ 'top': mouseY, 'left': mouseX }).show('fast');
                    }
                },
                eventDragStart: function () {
                    if ($('.fc-popover').is(':visible')) {
                        $('.fc-popover').hide(100); //Zatvori popover iznad eventa ukoliko započne premiještanje eventa
                    }
                },

                eventResize: function (event, delta, revertFunc) {
                    currentEvent = event;
                    var dateStart = moment(event.start).format('YYYY/MM/DD');
                    var dateEnd = moment(event.end).format('YYYY/MM/DD');

                     if (dateStart < dateEnd) { //Ako je resize pređe u drugi dan onda vrati event u početno stanje
                         revertFunc();
                     } else {
                        resizeEvent(revertFunc); //Napravi ajax poziv za izmijenu parametara eventa
                    }
                },

                eventDrop: function (event, delta, revertFunc) {
                    currentEvent = event;
                    dropEvent(revertFunc); //Napravi ajax poziv za izmijenu parametara eventa
                },

                dayClick: function (date, jsEvent, view) {
                    //Kada korisnik klikne na kalendar (gdje nema eventa)
                    //..
                    //alert('Kliknut je kalendar!' + date.format('hh:mm'))
                    //alert('Završava ' + date.add(2, 'hour').format('hh:mm'))
                    currentDate = date;
                    if ($('.edit').is(':visible')) {
                        $('.edit').hide('slow');
                    }
                    if ($('.add').is(':visible')) {
                        $('.add').hide('slow');
                    } else {
                        $('.add').css({ 'top': mouseY, 'left': mouseX }).show('fast');
                    }
                }
            });

        });
    </script>
</head>
<body>
    <!--Ako postoji poruka poslana od akcije nekog kontrolera, ispiši ju.-->
    @if (TempData["message"] != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @TempData["message"]
        </div>
    }

    <!--Dropdown meniji koji se generiraju određenom akcijom miša-->
    <div class="fc-popover add" style="z-index:10;display:none">
        <btn class="fc-button" onclick="addEvent()">Dodaj Posao</btn>
    </div>

    <div class="fc-popover edit" style="z-index:10;display:none">
        <ul>
            <li><btn class="fc-button" onclick="editEvent()">Uredi posao</btn></li>
            <li><btn class="fc-button" onclick="deleteEvent()">Izbriši posao</btn></li>
        </ul>
    </div>
    <div id='calendar'></div>
</body>
