@using WebHelpers.Mvc5


<script type="text/javascript">

   
     function fetchUsers() {
            var urltoAction = '@Url.Action("GetUsers", "Job")';
            $.ajax({
                type: 'GET',
                url: urltoAction,
                data: {
                    users: 'value'
                },
                dataType: 'json',
                success: function (data) {
                    $ulSub = $(".treeview-menu");
                    if ($ulSub.length != 0) {
                        $ulSub.empty();
                        $("#statistika").empty();
                    }
                    $.each(data, function (index, element) {
                        if (element.level == "Technician") {
                        $tehnician = '<li style="color: white">' + element.name + " " + element.lastName + " : " + element.hours + "h</li>";
                        $ulSub.append($tehnician);
                        }

                    });
                }
            }).fail(function () {
                alert('Dogodila se greška!')
            });
        }
</script>


<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        @if (Session["user"] != null)
        {
            <ul class="sidebar-menu">
                <li class="header">HEADER</li>
                <li class="@Url.IsLinkActive("Index", "Home")">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Home</span></a>
                </li>
                <li class="@Url.IsLinkActive("AnotherLink", "Home")">
                    <a href="@Url.Action("AnotherLink", "Home")"><i class="fa fa-link"></i> <span>Another Link</span></a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i> <span onclick="fetchUsers()">Tehničari</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu"></ul>
                </li>
            </ul>
        }
        @* END Menu *@
    </section>
</aside>